/* TagView.css */

.tag {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .tag-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .tag-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .tag-header span {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tag-header input[type="text"] {
    width: 100px;
  }
  
  .tag-children {
    margin-left: 20px;
  }
  