/* TagView.css */

.tag {
    border: 1px solid #478aff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
  }
  
  .tag-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    background-color: #478aff;
    /* border-bottom: 1px solid #ccc; */
    cursor: pointer;
  }
  
  .tag-header button {
    border: none;
    cursor: pointer;
    font-size: 19px;
    background-color: #cbcbcb;
    padding: 5px 20px;
    border-radius: 4px;
  }
  
  .tag-header span {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tag-header input[type="text"] {
    width: 100px;
  }
  
  .tag-children {
    margin-left: 20px;
  }
  